.sidebar{
  float: right;
  width: 25%;
  font-size: 1.3em;
  background-color: #ABC4F9;
  border: 3px solid blue;
  margin: 5px;
  padding: 10px;
  border-radius: 10px 50px;


}
 .main{
  width: 70%;
   float: left;
  font-size: 1.3em;

 }

.main img{
  width: 50%;
  float: left;
  padding: 15px;
  border-radius: 50px;
}
